.App {
  font-family: sans-serif;
  text-align: center;
}

.columns-container {
  display:flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px
}

.columns-container > div {

  border: 1px solid #ccc;
  text-align: center;
  width: 20rem;
}

li{
  display: flex;
  justify-content: spacebetween;
}